* 0 to 4
CONSERVATIVE 0
NR_TRACKS 2
WIDTH_COST 3
GATE_MISMATCH_COST 4
ROUTING_COST 1
ROUTING_DENSITY_COST 4
NR_GAPS_COST 2
NR_ITERATIONS 150
NR_ATTEMPTS 3
HORIZONTAL_POLY 1
ALIGN_DIFFS 0
REDUCE_VERTICAL_ROUTING 0
OPTIMIZE 1
DIFFUSION_STRETCHING 1
GRIDDED_POLY 0
REDUNDANT_DIFF_CNTS 50
MAX_DFF_CNTS 10
ALIGN_DIFFUSION_CNTS 10
REDUCE_L_TURNS 1
ENABLE_DFM 1
EXPERIMENTAL 0
* Variable Width
DEBUG 0
TIME_LIMIT 3600
